body {
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    margin: 0px;
}

nav {
    background-color: #2a2a2a;
    padding: 0px 5%;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
  
nav li{
  float: left;
  width: 18vw;
  text-align: center;
}

nav a:link, nav a:visited, nav a:active {
  display: block;
  color: white;
  padding: 10% 0px;
  font-size: 70%;
}

nav a:hover {
  background-color: #111;
}

#current {
  background-color: #04AA6D;
  color: white;
}

.center{
    margin: auto;
    display: block;
    width: 70%;
}

h1{
    font-size: 125%;
    text-align: center;
}

#header{
    font-size: 150%;
    text-align: center;
}

hr{
    border: 1px solid #ddd;
    width: 80%;
}

#toc{
    width: 60%;
    background-color:rgb(196, 225, 207);
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#toc-expanded{
    width: 80%;
    padding-left: 20%;
    display: none;
}

h2{
    font-size: 100%;
}

h3{
    font-size: 80%;
}

h4{
    font-size: 65%;
}

p{
    font-size: 70%;
    line-height: 150%;
}

a:link, a:visited{
    color:rgb(63, 106, 184);
    text-decoration: none;
}

table{
    font-size: 70%;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

tr, td, th{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

th{
    background-color: #dbdee5;
    border-collapse: collapse;
    text-align:center;
}

select, input{
    font-size: 75%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

#calc{
    padding-top: 10px;
    background-color: #ddd;
    width: 100%;
}

#result{
    margin-left: 10%;
    margin-right: 10%;
}

#waiting{
    font-size: 100%;
    margin-top: 15%;
    margin-right: 10%;
    margin-left: 0;
    text-align: center;
    font-weight: 600;
}

#bmi{
    font-size: 300%;
    text-align: center;
    font-weight: bolder;
    display: none;
}

#input-div{
    padding: 2% 0px;
    margin-right: 10%;
    margin-left: 10%;
}


@media screen and (max-width: 900px) {
    body{
        font-size: 4vw;
    }

    .center{
        width: 80%;
    }

    #toc{
        width: 70%;
    }

    p {
        font-size: 80%;
        line-height: 175%;
    }

    table{
        font-size: 50%;
    }

    nav a:link, nav a:visited {
        font-size: 75%;
    }
}

@media screen and (max-width: 600px) {
    body{
        font-size: 5vw;
    }

    .flex-row, .flex-col{
        display: block;
        flex-direction: unset;
    }

    .center{
        width: 95%;
    }

    #toc{
        width: 75%;
    }

    #waiting{
        margin: auto;
        margin-bottom: 10vw;
    }

    #bmi-displayer{
        width: auto;
        height: auto;
    }

    p {
        font-size: 90%;
        line-height: 175%;
    }

	nav a:link, a:visited {
        font-size: 75%;
    }

    table{
        font-size: 56%;
    }

    #input-div{
        width: auto;
        text-align: center;
    }
}
